:root,
[data-bs-theme=light] {
    --bs-gray-400: #B5B5C3;
    --bs-prismjs-bg: #1e1e3f;
    --bs-prismjs-border: rgba(255, 255, 255, .1);
    --bs-prismjs-btn-bg: #2d2d5e;
    --bs-prismjs-btn-bg-hover: #2d2d5e;
    --bs-prismjs-btn-color: rgba(255, 255, 255, .75);
    --bs-prismjs-btn-color-hover: #009ef7;
    --bs-prismjs-scrollbar-color: #323268;
    --bs-prismjs-scrollbar-color-hover: #373773;
    --bs-component-active-color: #ffffff;
}

[data-bs-theme=dark] {
    --bs-prismjs-bg: #151521;
    --bs-prismjs-border: rgba(255, 255, 255, .1);
    --bs-prismjs-btn-bg: #27273d;
    --bs-prismjs-btn-bg-hover: #27273d;
    --bs-prismjs-btn-color: rgba(255, 255, 255, .75);
    --bs-prismjs-btn-color-hover: #009ef7;
    --bs-prismjs-scrollbar-color: #2d2d46;
    --bs-prismjs-scrollbar-color-hover: #333350;
    --bs-component-active-color: #000000;
}

.flatpickr-calendar {
    background: var(--bs-body-bg);
    opacity: 0;
    display: none;
    text-align: center;
    visibility: hidden;
    padding: 0;
    -webkit-animation: none;
    animation: none;
    direction: ltr;
    border: 0;
    font-size: 14px;
    line-height: 24px;
    border-radius: 12px !important;
    position: absolute;
    width: 280px !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-box-shadow: var(--bs-dropdown-box-shadow);
    box-shadow: var(--bs-dropdown-box-shadow);
    font-family: inherit;
}

.flatpickr-calendar.open,
.flatpickr-calendar.inline {
    opacity: 1;
    max-height: 640px;
    visibility: visible;
}

.flatpickr-calendar.open {
    display: inline-block;
    z-index: 99999;
}

.flatpickr-calendar.animate.open {
    -webkit-animation: fpFadeInDown .3s cubic-bezier(.23, 1, .32, 1);
    animation: fpFadeInDown .3s cubic-bezier(.23, 1, .32, 1);
}

.flatpickr-calendar.inline {
    display: block;
    position: relative;
    top: 2px;
}

.flatpickr-calendar.static {
    position: absolute;
    top: calc(100% + 2px);
}

.flatpickr-calendar.static.open {
    z-index: 999;
    display: block;
}

.flatpickr-calendar.hasWeeks {
    width: 325px !important;
}

.flatpickr-calendar:before,
.flatpickr-calendar:after {
    display: none;
}

.flatpickr-calendar .hasWeeks .dayContainer,
.flatpickr-calendar .hasTime .dayContainer {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.flatpickr-calendar .hasWeeks .dayContainer {
    border-left: 0;
}

.flatpickr-calendar.hasTime .flatpickr-time {
    height: auto;
    line-height: auto;
    max-height: auto;
    border-top: 1px solid var(--bs-gray-100);
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
    height: auto;
}

.flatpickr-calendar:focus {
    outline: 0;
}

.flatpickr-wrapper {
    position: relative;
    display: inline-block;
}

.flatpickr-months {
    display: flex;
    padding: .5rem 1rem 0;
    stroke: #ffffff;
}

.flatpickr-months .flatpickr-month {
    background: transparent;
    color: var(--bs-gray-600);
    fill: var(--bs-gray-600);
    height: 46px;
    line-height: 1;
    text-align: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    flex: 1;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    height: 34px;
    padding: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .475rem;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
    display: none;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    left: 1rem;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    right: 1rem;
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
    background: var(--bs-gray-100);
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
    fill: var(--bs-gray-500);
    width: 13px;
    height: 13px;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--bs-gray-700);
}

.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
    -webkit-transition: fill .1s;
    transition: fill .1s;
    fill: inherit;
}

.numInputWrapper {
    position: relative;
    height: auto;
}

.numInputWrapper input,
.numInputWrapper span {
    display: inline-block;
}

.numInputWrapper input {
    width: 100%;
}

.numInputWrapper input::-ms-clear {
    display: none;
}

.numInputWrapper input::-webkit-outer-spin-button,
.numInputWrapper input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.numInputWrapper span {
    position: absolute;
    right: 0;
    width: 14px;
    padding: 0 4px 0 2px;
    height: 50%;
    line-height: 50%;
    opacity: 0;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 !important;
}

.numInputWrapper span:after {
    display: block;
    content: "";
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
}

.numInputWrapper span.arrowUp {
    top: 0;
}

.numInputWrapper span.arrowUp:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid var(--bs-gray-500);
}

.numInputWrapper span.arrowUp:hover:after {
    border-bottom-color: var(--bs-gray-700) !important;
}

.numInputWrapper span.arrowDown {
    top: 50%;
}

.numInputWrapper span.arrowDown:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid var(--bs-gray-500);
}

.numInputWrapper span.arrowDown:hover:after {
    border-top-color: var(--bs-gray-700) !important;
}

.numInputWrapper span svg {
    width: inherit;
    height: auto;
}

.numInputWrapper:hover {
    background: transparent;
}

.numInputWrapper:hover span {
    opacity: 1;
}

.flatpickr-current-month {
    font-size: 1em;
    font-weight: 500;
    color: inherit;
    position: absolute;
    width: 75%;
    left: 12.5%;
    padding: 7.48px 0 0;
    line-height: 1;
    height: 34px;
    display: inline-block;
    text-align: center;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translateZ(0);
}

.flatpickr-current-month span.cur-month {
    font-family: inherit;
    font-weight: 500;
    color: var(--bs-gray-700);
    display: inline-block;
    margin-left: .5ch;
    padding: 0;
    font-size: 1rem;
}

.flatpickr-current-month span.cur-month:hover {
    background: var(--bs-gray-100);
}

.flatpickr-current-month .numInputWrapper {
    width: 65px;
    display: inline-block;
    border-radius: .475rem;
}

.flatpickr-current-month .numInputWrapper span.arrowUp {
    border-top-right-radius: .475rem;
}

.flatpickr-current-month .numInputWrapper span.arrowDown {
    border-bottom-right-radius: .475rem;
}

.flatpickr-current-month input.cur-year {
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--bs-gray-700);
    cursor: text;
    padding: .5rem .75rem;
    margin: 0;
    display: inline-block;
    font-size: 0.85rem !important;
    font-family: inherit;
    font-weight: 500;
    line-height: inherit;
    height: auto;
    border: 0;
    border-radius: 0;
    vertical-align: initial;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    outline: 0 !important;
}

.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
    font-size: 100%;
    color: #00000080;
    background: transparent;
    pointer-events: none;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    background: var(--bs-body-bg);
    border: 0 !important;
    border-radius: .475rem;
    box-sizing: border-box;
    color: var(--bs-gray-700);
    cursor: pointer;
    font-size: 0.85rem;
    font-family: inherit;
    font-weight: 500;
    height: auto;
    line-height: inherit;
    margin: -1px .5rem 0 0;
    outline: none !important;
    padding: .5rem .75rem;
    position: relative;
    vertical-align: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: auto;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background: var(--bs-gray-100);
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    background-color: transparent;
    outline: none;
    padding: 0;
    font-size: 1rem;
    color: var(--bs-gray-700);
    font-weight: 500;
}

.flatpickr-weekdays {
    background: transparent;
    text-align: center;
    overflow: hidden;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 28px;
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
    display: flex;
    flex: 1;
}

span.flatpickr-weekday {
    cursor: default;
    font-size: 0.8rem;
    background: transparent;
    color: var(--bs-gray-800);
    line-height: 1;
    margin: 0;
    text-align: center;
    display: block;
    flex: 1;
    font-weight: 600;
}

.dayContainer,
.flatpickr-weeks {
    padding: 1px 0 0;
}

.flatpickr-days {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    width: 100% !important;
}

.flatpickr-days:focus {
    outline: 0;
}

.dayContainer {
    padding: 0;
    outline: 0;
    text-align: left;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translateZ(0);
    opacity: 1;
}

.dayContainer+.dayContainer {
    -webkit-box-shadow: -1px 0 0 #e6e6e6;
    box-shadow: -1px 0 #e6e6e6;
}

.flatpickr-day {
    background: none;
    border: 1px solid transparent;
    border-radius: .475rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--bs-gray-600);
    cursor: pointer;
    font-weight: 400;
    width: 14.2857143%;
    flex-basis: 14.2857143%;
    max-width: 100% !important;
    height: 36px;
    line-height: 36px;
    margin: 0 !important;
    display: inline-block;
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    box-shadow: none !important;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    cursor: pointer;
    outline: 0;
    background: var(--bs-component-hover-bg);
    color: var(--bs-component-hover-color);
    border-color: transparent;
}

.flatpickr-day.today {
    background: var(--bs-gray-100);
    color: var(--bs-gray-600);
    border-color: transparent;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
    border-color: transparent;
    background: var(--bs-gray-200);
    color: var(--bs-gray-700);
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background: var(--bs-component-active-bg);
    color: var(--bs-component-active-color);
    border-color: transparent;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
    color: var(--bs-gray-400);
    background: transparent;
    border-color: transparent;
    cursor: default;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
    cursor: not-allowed;
}

.flatpickr-day.hidden {
    visibility: hidden;
}

.rangeMode .flatpickr-day {
    margin-top: 1px;
}

.flatpickr-weekwrapper {
    float: left;
    margin-right: 5px;
}

.flatpickr-weekwrapper .flatpickr-weeks {
    padding: 0 12px;
    -webkit-box-shadow: 1px 0 0 #e6e6e6;
    box-shadow: 1px 0 #e6e6e6;
}

.flatpickr-weekwrapper .flatpickr-weekday {
    float: none;
    width: 100%;
    line-height: 28px;
}

.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
    display: block;
    width: 100%;
    max-width: none;
    color: #3939394d;
    background: transparent;
    cursor: default;
    border: none;
}

.flatpickr-innerContainer {
    display: flex;
    padding: .5rem 1rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.flatpickr-rContainer {
    display: inline-block;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.flatpickr-time {
    text-align: center;
    outline: 0;
    display: flex;
    height: auto;
    line-height: 40px;
    max-height: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom-right-radius: .475rem;
    border-bottom-left-radius: .475rem;
}

.flatpickr-time:after {
    content: "";
    display: table;
    clear: both;
}

.flatpickr-time .numInputWrapper {
    flex: 1;
    width: 40%;
    height: auto;
    float: left;
}

.flatpickr-time .numInputWrapper span.arrowUp:after {
    border-bottom-color: #393939;
}

.flatpickr-time .numInputWrapper span.arrowDown:after {
    border-top-color: #393939;
}

.flatpickr-time.hasSeconds .numInputWrapper {
    width: 26%;
}

.flatpickr-time.time24hr .numInputWrapper {
    width: 49%;
}

.flatpickr-time input {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: inherit;
    line-height: inherit;
    color: var(--bs-gray-700);
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.flatpickr-time input.flatpickr-hour {
    font-weight: 700;
}

.flatpickr-time input.flatpickr-minute,
.flatpickr-time input.flatpickr-second {
    font-weight: 400;
}

.flatpickr-time input:focus {
    outline: 0;
    border: 0;
}

.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
    height: inherit;
    float: left;
    line-height: inherit;
    color: var(--bs-gray-700);
    font-weight: 700;
    width: 2%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-self: center;
}

.flatpickr-time .flatpickr-am-pm {
    outline: 0;
    width: 18%;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
}

.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
    background: transparent;
}

.flatpickr-input[readonly] {
    cursor: pointer;
}

.fslightbox-slide-btn {
    border-radius: .475rem;
}

.fslightbox-toolbar {
    border-bottom-left-radius: .475rem;
}

@-webkit-keyframes fpFadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translateZ(0);
    }
}

@keyframes fpFadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translateZ(0);
    }
}